body{
    display: grid;
    background-color: lavender;
    justify-items: center;
    justify-content: center;
    

}

header{
   display: grid;
    background-color:skyblue;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
   max-width: 75%;
    border-radius: 7px;
    margin-bottom: 10px;
    font-family: monospace;
    
}

header img {
    width: 75%;
    height: auto;
    text-align: center;
}

main{
 display: grid;
    text-align: center;
}
button {
    text-align: right;
    display: block;
    margin: 0 auto;
}
 
.row {
    display: flex;
    align-items: center;
    
  }