body{
    background-color: lavender;
    display:grid;
    grid-template-areas: 
    "header header header ."
     ;
}

header{
    grid-area: form;
    background-color:skyblue;
    max-width: 900px;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 20px;
}
