body{
    background-color: lavender;
    display:grid;
    grid-template-areas: 
    "header header header ."
    "main main main ."
     ;
}

header{
    grid-area: header;
    background-color:skyblue;
    width: 75%;
    margin: 0 auto;
    padding-bottom: 20px;
}

main{
    grid-area: main;
    text-align: center;
}
